[submodule "src/locomotion_experiments"]
	path = src/locomotion_experiments
	url = ../locomotion_experiments
[submodule "src/mulinex_gazebo"]
	path = src/mulinex_gazebo
	url = ../mulinex_gazebo
[submodule "src/rlg_quad_controller"]
	path = src/rlg_quad_controller
	url = ../rlg_quad_controller
[submodule "src/mulinex_description"]
	path = src/mulinex_description
	url = ../mulinex_description
